* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    padding: 0.2rem 0;
    color: #ffffff;
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(images/hero.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  .navigasi {
    margin: 0 3rem;
    display: flex;
    justify-content: space-between;
  }
  
  .box-text {
    margin: 0 3rem;
    width: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  
  .info {
    height: 4rem;
    width: 60%;
    background: #fff;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left:21%;
    margin-top: -2rem;
  }
  
  .popular-venue {
    background: #2A75E6;
    margin-top: -2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  
  .popular-venue h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .card-container {
    display: flex;
    margin: 0 3rem;
    justify-content: space-between;
  }
  
  .card {
    width: 8rem;
    height: 11rem;
    background: #fff;
    border-radius: 0.2rem;
  }
  
  .card img {
    width: 100%;
    height: 4rem;
    border-radius: 0.2rem;
  }
  
  .foto-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 5rem);
    grid-gap: 1px;
    margin-top: 1rem;
  }
  
  .foto-grid img {
    width: 100%;
    height: 100%;
  }
  
  .img-1 {
    grid-column: 1/4;
  }
  
  .img-2 {
    grid-column: 4/6;
  }
  
  .img-3 {
    grid-column: 6/10;
  }
  
  .img-4 {
    grid-column: 10/13;
  }
  
  .img-5 {
    grid-column: 1/5;
    grid-row:2/4;
  }
  
  .img-6 {
    grid-column: 5/8;
  }
  
  .img-7 {
    grid-column: 8/11;
  }
  
  .img-8 {
    grid-column: 11/13;
  }
  
  .img-9 {
    grid-column: 5/7;
  }
  
  .img-10 {
    grid-column: 7/10;
  }
  
  .img-11 {
    grid-column: 10/13;
  }  